.navbar {
    a:hover {
        color: purple;
font-weight: bold;    }
    img {
        border: 2px solid purple;
        border-radius: 50%;
        max-width: 125px;
        margin-right: 1rem;
    }
}

img {
    max-width: 100%;
}
