.container {
  margin-top: 2rem;
  border-top: 2px solid purple;
  img{
    width: 200px;
    border: 2px solid purple;
  }
  a{
    font-size: 36px;
    color: blue;
  }
  a:hover {
    color: purple;
    font-weight: bolder;
    border: 2px solid purple;
    padding: 0.5rem;
}
}
