<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Dear future-dogs rescuer! Welkom!</h1>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <img src="../../assets/zelda foundation long.jpg" alt="Logo Zelda Foundation">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Zomer 2020 heb ik een in een Facebook-groep een foto van een Catteldog-teefje gezien: Zij zat in een
                zogenoemde
                quarantaine-station in Egyek,Hongarije. Ze zat er al langer en helaas was zij daarom een van de
                kandidaten welke
                geëuthanaseerd kunnen worden. Ik wist gelijk: hier moet ik helpen! Ik heb geld overgemaakt zodat de
                Duitse organisatie
                haar vrij kon kopen en ik heb dan ook besloten: Zij mag komen, ik ga een fijn thuis voor haar zoeken.
                Het asiel en de
                Duitse organisatie hebben haar voorbereid op haar reis en ik kreeg steeds informatie over het proces tot
                dat de test op
                buitenlandse ziektes positief op hartworm was. Ik heb met onze dierenarts gebeld, met mijn man gesproken
                en snel was
                duidelijk, zij mag alsnog komen, wij gaan haar behandelen. Maar er was nog een probleem, de Duitse
                organisatie mocht
                niet naar het buitenland dus Nederland overbrengen. Zo ben ik in contact gekomen met de mensen die in
                Hongarije in het
                asiel werken waar Zelda verbleef en ook met de mensen uit de quarantaine-station. Met hart en ziel zijn
                deze mensen
                betrokken om zo goed als mogelijk voor de honden te zorgen en deze in Hongarije te herplaatsen. Dit
                heeft mij ontzettend
                geraakt. Uiteindelijk met alle papieren op orde en de juiste transporteur mocht Zelda naar ons toe
                komen. Zeldas
                behandeling is lang en duur geweest en uiteindelijk blijft zij nu voor altijd bij me. Ik heb groot
                respect voor de
                mensen die dit werk doen en voor mij was duidelijk: Ik wil ook helpen! Met behulp van iedereen mocht ik
                nog twee andere
                honden een gouden mand geven. Maar, het zal ook allemaal aan wetten en regels voldoen en serieus werden
                genomen. Zo
                hebben mijn man en ik besloten om zelf een stichting op te richten. Het belangrijkste doel is voor ons
                het welzijn van
                de honden in de quarantaine-station in Egyek te verbeteren, elk hond die binnenkomt zal medisch verzorgt
                en gecastreerd
                kunnen worden. Een eigenaar heeft twee weken de tijd om zijn hond op te halen, dan is deze gecastreerd
                en kan zich niet
                meer zinloos vermeerderen. Ook zouden wij graag elke hond willen chippen, vaccineren en van wormen en
                vlooien bevrijden.
                Een groot probleem zijn de hartwormen. Wij willen de verspreiding van Dirofilaria (Mikrofilaria)
                voorkomen en mensen
                erover informeren.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Met behulp van donaties willen wij ons doel steeds dichterbij komen.
                Ook willen wij ons bezig houden met het herplaatsen van honden die al langer in deze quarantainestation
                zitten. Het gaat
                om de honden die op de "euthanasie-lijst" staan. Hier zijn wij ons bewust over dat wij niet elke hond om
                elke prijs
                kunnen redden. Maar elke hond die wij kunnen redden is er een. Het gaat er niet om zoveel mogelijk
                honden te redden, het
                gaat erom dat die honden die wij redden op een eerlijk en verantwoorde manier herplaatst worden. Mens en
                hond zullen
                goed samen passen. Wij bereiden de nieuwe eigenaren op alles voor en in gesprekken en met een bezoek
                gaan wij kijken wat
                de mogelijkheden zijn en op de gewenste hond ook daadwerkelijk bij de mens of het gezin past. Heeft de
                hond zijn
                forever-thuis bereikt staan wij nog steeds klaar om vragen te beantwoorden en het mens-hond team verder
                te begeleiden in
                eventuele problemen.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="title">Stichting Zeldafoundation is opgericht door Katharina Volle-Van Der Bent en Cornelis van der Bent.</p>
        </div>
    </div>

</div>
